<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
     
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">  
    <title>Document</title>
</head>
<body>
   
    {{>navbar}}
    {{!-- hero section start --}}
    <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class"row">
          <div class="col-md-6 col-12 hero-text order-md-0 order-md-1 d-flex justify-content-center align-items-start flex-column">
           <h1>we will help you</h1>
           <h1>Travel Secure With Us</h1>
           <p>We care about our <span class="bold-style">customers</span>
           </p>
           <button class="btn-style btn-primary"> Read more</button>
          </div>
          {{!-- right side --}}
          {{!-- <div class="col-md-6 col-12 hero-text order-md-1 order-md-0 ">
       
       <figure>
         <img src="images/growth.svg" alt="herosection_image">
       </figure>

          </div> --}}
        </div>
      </div>
    </div>
    </div>
    
  {{!-- hero section end --}}
    
     {{!-- about section start --}}
   {{>about}}
  {{!-- about section end --}}

    {{!-- service section start --}}
   {{>service}}
  {{!-- service section end --}}
   {{!-- maps section start --}}
   {{>maps}}
  {{!-- maps section end --}}
   {{!-- contact section start --}}
   {{>contact}}
  {{!-- contact section end --}}
     
    <script src="..jq/jquery.js" type="text/javascript"></sc0ript>
  <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>