     {{!-- about section start --}}
    <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">  About us</h1>
        <p class="text-center sub-heading"> Travel World With Us </p>
        <div class"row">
            {{!-- <div class="col-md-6 col-12 hero-text ">
       
       <figure>
         <img src="images/growth.svg" alt="herosection_image">
       </figure>

          </div> --}}
        
          {{!-- right side --}}
        
         {{!-- <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column"></div> --}}
          <div class="hero-text  d-flex justify-content-center align-items-start flex-column">
           <h1>Know About us</h1>
           <p> Established in 2000, <span class="bold-style">make your trip</span> has since positioned itself as one of the leading companies, providing great offers, competitive airfares, exclusive discounts, and a seamless online booking experience to many of its customers. The experience of booking your flight tickets, hotel stay, and holiday package through our desktop site or mobile app can be done with complete ease and no hassles at all. We also deliver amazing offers, such as Instant Discounts, Fare Calendar, MyRewardsProgram, MyWallet, and many more while updating them from time to time to better suit our customers’ evolving needs and demands.
           </p>
           <button class="btn-style btn-primary"> Read more</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  {{!-- about section end --}}