<div class="container-fluid mt-5 contact-style" id="contactid">
<div class="row">
    <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-centre main-heading">Book Your Trip</h1>
       <p class="text-center sub-heading">we will be happy to help you</p>
       <div class="row">
        <div class="col-md-6 col-12 mx-auto">
            <form action="/contact" method="post">
                <div class="form-group">
                    <label for="exampleInputPassword1">name</label>
                     <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Full Name" name="name">   
                </div>
                 <div class="form-group">
                    <label for="exampleInputEmail">Email address</label>
                     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailhelp" placeholder="Enter your email" name="email"><small id="emailhelp" class="form-text text-muted" >we will nedver share your email with anone else

                     </small> 
                </div>
                 <div class="form-group">
                    <label for="exampleInputPassword1">phone number</label>
                     <input type="number" class="form-control" id="exampleInputPassword1" placeholder="phone" name="phone">   
                </div>
                 <div class="form-group">
                    <label for="exampleInputPassword1"> To-Destination</label>
                     <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Example(Delhi => Bengluru)" name="message">   
                </div>
                <button type="submit" class="btn-style btn-primary">Submit</button>
            </form>

        </div>


       </div>
    </div>

</div>
</div>